@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');


.matchup{
    border: 2px solid #44318D;
    border-radius: 2em;
    box-shadow: 0px 2px 4px 2px gray;
}

.matchup p{
    font-family: 'PT Serif', serif;
    color: black;
}

.matchup button {
    font-size: 14px;
    padding: 5px 2px;
    border-radius: 4px;
    border: 2px solid #44318D;
    cursor: pointer;
    color: red;
}

.matchup button:hover{
    background: #44318D;
    color: white;
    cursor: pointer;
}