@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');




.matchup{
    border: 2px solid #2C3531;
    border-radius: 2em;
}

.matchup p{
    color: #2C3531;
    font-family: 'PT Serif', serif;
}

